/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar {
    box-shadow: 1px 1px 2px black;
}

.logo {
    position: relative;
    /*top: -30px;*/
    font-size: 30px;
    color: #fff;
    margin-right: 10px;
}


.overview {
    margin: 61px 0 0 0;
    color: #fff;
    padding: 20px;
    text-align: justify;
}

.content {
    background: #252525;
}

.login > form {
    background: #fff;
    height: 350px;
    box-shadow: 2px 5px 1px black;
    margin: 90px 0 0 0;
    border-radius: 5px;
    padding: 10px;
}

.forgot {
    color: darkred;
    text-decoration: none;
}

.signin {
    width: 100%;
    border-radius: 0;
}

.content {
    /*display: block;*/
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .login > form {
        margin:  0;
        padding: 20px
    }

    .login {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

.about {
    display: block;
    margin: 0 auto;
    color: #fff;
    margin-top: -15px;
    padding-bottom: 25px;
}

.about p {
    margin-bottom: 0;
}

footer {
    background: #000;
    margin: 0;
    padding: 20px;
    box-shadow: 0 -2px 2px black;
    width: 100%;
}

footer > p {

    text-align: center;
    color: #ffffff;
}